fastapi==0.115.0
uvicorn[standard]==0.30.6
boto3==1.35.0
sqlalchemy==2.0.35
cryptography==43.0.1
pydantic==2.9.2
pydantic-settings==2.5.2
python-multipart==0.0.12
aiohttp==3.10.5
prometheus-fastapi-instrumentator==7.0.0
